.errorToast,
.messageToast {
    position: absolute;
    top: 10px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    z-index: 9999;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    color: var(--white);
    font-weight: bold;
    transition: all 0.3s ease-in-out;

    svg {
        color: #fd0000;
    }
}

.messageToast {
    svg {
        color: #00ff20;
    }
}

.mainContainer {
    position: relative;
    height: 100dvh;
    width: 100dvw;
    background-color: var(--mainColor);
    overflow: hidden;

    .backGroundLayer {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: grid;
        gap: 1px;

        .square {
            background-color: var(--mainColor);
            transition: all 1s ease-in-out;
        }

        .hovered {
            background-color: rgba(255, 255, 255, 0.5);
            filter: drop-shadow(0 0 10px var(--white));
            transition: all 0.3s ease-in-out;
        }
    }

    .switchTabs {
        position: absolute;
        top: 10px;
        width: fit-content;

        .switchBtn {
            padding: 5px 10px;
            color: var(--white);
            transition: all 0.3s ease-in-out;

            &:first-child {
                border-radius: 8px 0px 0px 8px;
            }

            &:last-child {
                border-radius: 0px 8px 8px 0px;
            }
        }

        .active {
            background-color: var(--white);
            color: var(--mainColor);
            box-shadow: 0 0 10px var(--white);
            font-weight: bold;
            transition: all 0.4s ease-in-out;
        }
    }

    .logForm {
        border-radius: 10px;
        transition: all 0.3s ease-in-out;

        .inputContainer {
            position: relative;
            label {
                display: block;
                margin-bottom: 5px;
            }
            input {
                width: 100%;
                padding: 8px;
                border-radius: 8px;
                color: var(--white);
                text-transform: none !important;

                &:focus {
                    outline: none;
                }
            }
            .showPassBtn {
                position: absolute;
                bottom: 10px;
                right: 10px;
                cursor: pointer;
            }
        }

        .accountFormBtn {
            display: inline-block;
            justify-content: center;
            align-items: center;
            padding: 5px 10px;
            border-radius: 8px;
            color: var(--white);
            font-weight: bold;
            transition: all 0.3s ease-in-out;

            &:hover {
                box-shadow: 0 0 10px var(--white);
            }
        }
    }
}
