.outerContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min-content !important;
}

.addTaskModal {
    position: relative;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;

    .colseBtn {
        position: absolute;
        top: 5px;
        right: 5px;
        background-color: transparent;
        border: none;

        svg {
            color: var(--white);
            transition: all 0.3s ease-in-out;
        }

        &:hover {
            svg {
                transform: rotate(90deg);
                color: #fd0000;
            }
        }
    }

    .inputContainer {
        label {
            display: block;
            padding: 5px 0px !important;
        }

        input,
        textarea,
        select {
            padding: 5px;
            border: 1px solid var(--mainColor);
            border-radius: 10px !important;
            box-shadow: none;
            text-transform: none !important;
            background: rgba(255, 255, 255, 0.1) !important;
            backdrop-filter: blur(10px);
            border: 1px solid rgba(255, 255, 255, 0.2);
            color: #fff;

            option {
                color: #000;
            }

            &::placeholder {
                color: #fff;
            }

            &:focus {
                outline: none;
            }
        }

        .link-input-group {
            display: flex;
            align-items: center;

            .removeBtn {
                background-color: var(--red);
                color: #fff;
            }
        }
        .addBtn {
            background-color: var(--triColor);
            color: #fff;
        }
    }

    .actions {
        .formBtn {
            width: fit-content !important;
            color: var(--white);
            transition: all 0.3s ease-in-out;
            svg {
                transition: all 0.3s ease-in-out;
            }

            &:hover {
                svg {
                    margin-inline-start: 5px;
                    transform: rotate(90deg);
                    color: #00ff20;
                }
            }
        }

        .btn-content {
            display: flex;
            align-items: center;
            gap: 0px;
            overflow: hidden;
            font-weight: bold;
        }

        .btn-text {
            max-width: 0;
            opacity: 0;
            white-space: nowrap;
            transition:
                max-width 0.3s ease,
                opacity 0.2s ease;
        }

        .btn-text.show {
            max-width: 100px;
            opacity: 1;
        }
    }
}
