@import url("./fonts.css");

:root {
  --mainColor: #000;
  --mainColorTrans: #00000059;
  --secColor: #00cc6d;
  --triColor: #0092cc;
  --white: #fff;
}

* {
  box-sizing: border-box;
  text-transform: capitalize !important;
  font-family: english, arabic !important;
}

img {
  width: 100%;
}

body {
  background-color: var(--mainColor) !important;
  color: var(--white) !important;
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
}

body.light {
  --mainColor: #fff;
  --mainColorTrans: #00000059;
  --secColor: #00cc6d;
  --triColor: #0092cc;
  --white: #000;
  transition: all 0.3s ease-in-out;
}

section {
  padding: 50px 0px;
  overflow-x: hidden;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  padding: 10px 5px;
  background-color: var(--mainColorTrans);
  backdrop-filter: blur(10px);
  z-index: 111;

  span {
    cursor: pointer;
    font-size: 25px;
    color: var(--white);
    background-color: transparent;
  }

  button {
    padding: 5px 10px !important;
    background-color: var(--white);
    border: none;
    border-radius: 8px;

    a {
      text-decoration: none;
      color: var(--mainColor);
      font-weight: bold;
    }
  }
}

.item {
  background-color: var(--triColor);
  color: #fff;
  border-radius: 8px;
  padding: 20px 10px;

  svg {
    font-size: 30px;
    margin-bottom: 10px;
  }
}

ul {
  list-style: none;
  background-color: var(--triColor);
  border-radius: 10px;
  padding: 20px 10px;
  color: var(--white);

  li {
    font-size: 20px;
    svg {
      margin-inline-end: 5px;
      color: #f9fd00;
    }
  }
}

.faq {
  background-color: var(--triColor);
  border-radius: 10px;
  padding: 20px 10px;
  color: var(--white);
}

.startArea {
  padding: 20px 10px;
  background-color: var(--secColor);
  color: var(--mainColor);
  border-radius: 10px;
}

.landingBtn {
  padding: 5px 10px;
  border: none;
  border-radius: 8px;
  background-color: var(--mainColor);
  font-weight: bold;
  transition: all 0.3s ease-in-out;

  a {
    text-decoration: none;
    color: var(--white);
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    background-color: var(--white);

    a {
      color: var(--mainColor);
    }
  }
}

.toHomeBtn {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 5px 10px;
  background-color: var(--white);
  border: none;
  border-radius: 8px;

  a {
    text-decoration: none;
    color: var(--mainColor);
    font-weight: bold;
  }
}

form {
  background-color: var(--white);
  color: var(--mainColor);
  border-radius: 10px;
  padding: 20px 10px;
  font-weight: bold;

  .inputContainer {
    label {
      padding: 5px 0px;
    }
    input {
      padding: 5px;
      border-radius: 8px;
      border: none;
      outline: none;
      box-shadow: 0 0 5px var(--mainColor);
    }
  }

  button {
    border: none;
    border-radius: 8px;
    background-color: var(--white);
    color: var(--mainColor);
    padding: 5px 10px;
    box-shadow: 0 0 5px var(--mainColor);
    font-weight: bold;
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

::-webkit-scrollbar {
  display: none;
}

html {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
