.basicBtnStyle {
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    background-color: var(--white);
    color: var(--mainColor);
    display: inline-flex;

    a {
        text-decoration: none;
        color: var(--mainColor);
    }
}

.glassmorphism {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(1.25rem);
    -webkit-backdrop-filter: blur(1.25rem);
    border: 0.063rem solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0.25rem 1.875rem rgba(0, 0, 0, 0.1);
}
